<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <span click.trigger="newMember()"><i data-feather="plus"></i></span>
                                <span click.trigger="getMembers()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                            </th>
                        </tr>

                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Role</th>
                            <th scope="col">Allocated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  repeat.for="member of members.membersArray">
                            <td click.trigger="editMember(member)">${member.firstName}</td>
                            <td click.trigger="editMember(member)">${member.lastName}</td>
                            <td click.trigger="editMember(member)">${member.role}</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" change.delegate="changeAllocatedMember)" checked.bind="member.allocated"
                                        type="checkbox" value="" id="defaultCheck1"></div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>